.bg-dark {
  background-color: #599adb !important;
}

.bg-dark2 {
  background-color: #fff !important;
}

.bg-secondary {
  background-color: #599adb !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000066;
  text-align: left;
  background-color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #599ADB;
}

.btn-primary {
  color: #fff;
  background-color: #599ADB;
  border-color: #599ADB;

}

.btn-primary:hover {
  color: #fff;
  background-color: #32AEF6;
  border-color: #32AEF6;
}

.navbar-dark .navbar-nav .nav-link {
  color:  #599adb
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #204a87;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #204a87;
}

a {
  color: #0056b3;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

.navbar-brand2:hover {
  color: #0056b3;
}

