/*Workaround added to use google fonts in all tags*/
h1, h2, h3, h4, h5, h6, blockquote, p, li, span, a, label, input{ font-family: Carme, Verdana, sans-serif; font-weight: 400; font-style: normal;}

p, h1, h2, h4, h5 { font-family: Carme, Verdana, sans-serif; font-weight: 400; font-style: normal;	}
h3, h6 { font-family: Montserrat Alternates, Verdana, sans-serif; font-weight: 400; font-style: normal; 	}
p { text-align:justify;}

/*Workaround added to adapt bootstrap theme*/
h1 {font-size:18px; font-weight: bold;}
h2 {font-size:16px; font-weight: bold;}
h3 {font-size:14px;}
h4 {font-size:14px;}
h5,h6{font-size:14px;}
h1 {
  text-align: center }

ul.current a.current {
    font-weight: bold;
}

/* = Force footer to bottom of page
------------------------------------------------*/
body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
}

.container {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* =Global
----------------------------------------------- */
body,
button,
input,
select,
textarea {
	font-family: Carme, Verdana, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #555;
}

/* Text elements */
p {
	color: #555;
	line-height: 1.5;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}

/* Links */
a {
	color: #006699;
	text-decoration: none;
}
a:visited {
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
    color: #FF6300;
}

/* =Header
----------------------------------------------- */
.header-wrap {	
	border-top: 4px solid #FF6300;
	border-bottom: 3px solid #006699;
	position: relative;
	top: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 999999;
	background:  #FFFFFF;
	opacity:1;
  	filter:alpha(opacity=100); /* For IE8 and earlier */
}
 
.site-branding {
	float: left;
	font-family: Carme, Verdana, sans-serif;
	max-width: 100%;
	margin-right: 30px;
	min-height: 56px;
}
.site-title {
	font-size: 36px;
	font-size: 3.6rem;
	padding: 5px 5px 5px 25px;
	padding: 0.5rem 0.5rem 0.5rem 2.5rem;
	float: left;
	line-height: 1.5;
}
.site-title img {
	float: left;
}
.site-title a {
	color: #555;
}
.site-title a:hover {
	color: #555;
}
.site-description {
	display: none;
}
.site-title h3 {
	padding: 10px 5px;
	padding: 1rem 0.5rem;
	display:inline;
	font-size: 36px;
	font-size: 3.6rem;
}
img.header-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.login-panel {
    margin-top: 5% !important;
}
.btn-success {
    background-color: #ff6300 !important; 
    border-color: #ff6300 !important;
    color: #fff !important;
}
.btn-success:hover {
    background-color: #ff6300 !important; 
    border-color: #ff6300 !important;
    color: #fff !important;
}

.navbar {	
	width: 100%;
	margin: 0 auto;
	background:  #FFFFFF;
}

.navbar-default {
    background-color: #FFF;
    border-radius: 0px;
    box-shadow: 0 0px 0 #FFF;
    border-color:#FFF;
}

/* =Menu
----------------------------------------------- */
.navbar-nav{
    float: right;
    height: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0
}

.navbar-nav ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.navbar-nav  li {
	font-family: Carme, Verdana, sans-serif;
	font-size: 18px;
	padding: 6px 0;
	font-size: 1.6rem;
	line-height: 3.5;
}

.navbar-default .navbar-nav > li > a {
	font-family: Carme, Verdana, sans-serif;
	text-decoration: none;
	color: #006699;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FF6300;
    background-color: #FFF;
}

.navbar-default .navbar-nav > li.current {
	color: #006699;
}

/* =Content
----------------------------------------------- */
.container{
  width: 1000px;
}

.section h1{
    font-size: 2.0rem;
}

.section h2{
    font-size: 1.6rem;
}
.section p, .section li{
    font-size: 1.4rem;
    margin: 5px;
}

.section > .table{
    font-size: 1.4rem;
    word-break: break-all;
    word-wrap: break-word;
}

dl.glossary.docutils{
    font-size: 1.4rem;
    margin: 5px;
}

.row{
	margin-top:45px;
	margin-bottom:45px;
}

.sticky {
}
.hentry {
	margin-bottom: 40px;
	margin-bottom: 4rem;
	padding: 30px;
	padding: 3rem;
	background-color: #FFFFFF;
}
.page-header {
	margin-bottom: 40px;
	margin-bottom: 4rem;
	padding: 10px 30px;
	padding: 1rem 3rem;
	background-color: #FFFFFF;
	text-align: center;
}
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 15px 0 0; 
	margin: 1.5rem 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 15px;
	margin: 0 0 1.5rem;
}
.entry-title {
	font-size: 30px;
	font-size: 3rem;
	margin: 0 0 10px;
	margin: 0 0 1rem;
	line-height: 1.5;
}
.page-title {
	font-size: 30px;
	font-size: 3rem;
	line-height: 1.5;
}
.entry-title a {
	color: #444444;
}
#content .entry-title a:hover {
	color: #632E9B;
	text-decoration: none;
}
.entry-content ul {
	list-style: square;
}
.entry-content ul,
.entry-content ol {	
	padding: 0 0 0 35px; 
   margin-bottom: 30px;
}
.entry-content li > ul,
.entry-content li > ol {
	margin-bottom: 0;
}
.entry-header .entry-meta span {
	padding-right: 20px;
}
.entry-meta span {
	padding-right: 20px;	
	color: #999999;
	font-size: 14px;
	font-size: 1.4rem;
}
.entry-meta span:hover {
	color: #632E9B;
}
.entry-meta span a {
	color: #999999;
}
#content .entry-meta span a:hover {
	color: #632E9B;
	text-decoration: none;
}

.entry-meta .posted-on:before,
.entry-meta .byline:before,
.entry-meta .cat-links:before,
.entry-meta .tags-links:before,
.entry-meta .comments-link:before,
.entry-meta .edit-link:before {	
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 22px/1 'Genericons';
	vertical-align: top;
}
.entry-meta .posted-on:before 		{ content: '\f307'; }
.entry-meta .byline:before 			{ content: '\f304'; }
.entry-meta .cat-links:before 		{ content: '\f301'; }
.entry-meta .tags-links:before 		{ content: '\f302'; }
.entry-meta .comments-link:before 	{ content: '\f300'; }
.entry-meta .edit-link:before 		{ content: '\f411'; }

.tg-one-third {
    float: left;
    margin: 0 7% 3rem 0;
    width: 28%;
}

.tg-one-third-last {
    margin-right: 0;
}

.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.inner-wrap {
    clear: both;
    margin: 0 auto;
}

#featured_pages {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

#featured_pages .page_text_container {
    background-color: #f3f3f3;
    border-radius: 4px;
    min-height: 180px;
    padding: 2rem 2rem 1.5rem;
}
#featured_pages .entry-title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
}
#featured_pages p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
#featured_pages a {
    background-color: #ff6300;
    border-radius: 4px;
    color: #fff;
    font-size: 1.4rem;
    padding: 4px 10px;
}
#featured_pages a:hover {
    background-color: #006699;
    border-radius: 4px;
    color: #fff;
    padding: 4px 10px;
    text-decoration: none;
}

/* =Footer
----------------------------------------------- */
.site-footer {
	padding: 20px 0;
	background-color: #006699;
	color: #FFF;
	text-align: center;
	font-size: 12px;
  font-size: 1.2rem;
}
.site-footer li{
	color: #FFF;
	list-style-type: none;
}

.site-footer a{
	font-weight: bold;
	color: #FFF;
}

.site-footer a:hover {
	color: #FF6300;
	text-decoration: none;
}

.site-footer h6{
	color: #FFF;
	margin-bottom:10px;
	margin-bottom:1rem;
}

.site-footer p{
	color: #FFF;
  padding: 2px 5px; 
	text-align: center;
  margin: 0px;
}

#to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 9000;
    width: auto;
    height: auto;
}

@media screen and (max-width: 1280px) {
 	.container {
		width: 100%;
	}
}




.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-tabs-dropdown:before {
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 30px;
}

@media screen and (min-width: 769px) {
  #nav-tabs-wrapper {
    display: block!important;
  }
}
@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
    }
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }
   .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   }
    .nav-tabs-horizontal  > li {
        float: none;
    }
    .nav-tabs-horizontal  > li + li {
        margin-left: 2px;
    }
    .nav-tabs-horizontal > li,
    .nav-tabs-horizontal > li > a {
        background: transparent;
        width: 100%;
    } 
    .nav-tabs-horizontal  > li > a {
        border-radius: 4px;
    }
    .nav-tabs-horizontal  > li.active > a,
    .nav-tabs-horizontal  > li.active > a:hover,
    .nav-tabs-horizontal  > li.active > a:focus {
        color: #ffffff;
        background-color: #428bca;
    }
}


img {
    cursor: zoom-in;
}